{% load staticfiles %}
{% load static %}
{{ form.media }}

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <body> 
    
      <!-- Sidebar -->
      <div class="w3-sidebar w3-light-grey w3-bar-block" style="z-index: 1;margin-top: 86px;">
        <!-- <h3 class="w3-bar-item w3-lime ">Menu</h3> -->
        <a href="{% url 'authentication:show_profile' %}" class="w3-bar-item w3-button w3-lime " style="border-bottom: 1px solid #000000;">Profile</a>
        <a href="{% url 'forum:question' %}" class="w3-bar-item w3-button w3-lime" style="border-bottom: 1px solid #000000;">Create Question</a>
        <a href="{% url 'forum:show_all_own_question' %}" class="w3-bar-item w3-button w3-lime" style="border-bottom: 1px solid #000000;">Self Questions</a>
        <a href="{% url 'forum:show_all_question' %}" class="w3-bar-item w3-button w3-lime" style="border-bottom: 1px solid #000;">All Questions</a>
        <a href="{% url 'forum:show_self_answers' %}" class="w3-bar-item w3-button w3-lime" style="border-bottom: 1px solid #000000;">Self Answers</a>
        <a href="{% url 'authentication:setting' %}" class="w3-bar-item w3-button w3-lime" style="border-bottom: 1px solid #000000;">Settings</a>
        <a href="{% url 'authentication:logout' %}" class="w3-bar-item w3-button w3-lime" style="border-bottom: 1px solid #000000;">Logout</a>



      </div>
          
      <div class="w3-bar w3-green">
          <div class="w3-bar-item" style="width:100%">
            <h1 style="text-align: center;" >DASHBOARD</h1>
          </div>
      </div>

      <div style="margin-top: 1px; margin-left: 205px; margin-bottom:0PX;margin-right: 4px; height: 480px; color:#333333; background-color: #efefef;z-index: 0">
              <h2 style="margin-top: 0px" ><center>Create Question</center></h2>
        <form method="post" enctype="multipart/form-data">
           {% csrf_token %}
            <center>{{ form.as_p }}</center>
             <center> <button type="submit">submit</button></center>
        </form>
      </div>

    </body>
</html>

