<h1><center>Dashboard</center></h1>

<a href="{% url 'authentication:logout' %}">
    <button type="button" >Log-Out</button>
</a><br><br>


<a href="{% url 'authentication:show_profile' %}">Profile</a>	<br><br>
<a href="{% url 'authentication:setting' %}">Setting</a>	<br><br>
<a href="{% url 'forum:show_all_own_question' %}">Self Questions</a>	<br><br>
<a href="{% url 'forum:show_all_question' %}">All Questions</a>	<br><br>
<a href="{% url 'forum:question' %}">Ask Question</a>	<br><br>
<a href="{% url 'forum:show_self_answers' %}">Self Answer</a>	<br><br>

